.navbar-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 8rem;
  padding-right: 8rem;
  
  
}

.navbar {
    display: flex;
    flex-flow: row;
    background-color: var(--dark);
    width: 100%;
    padding: 1rem;
    
  }

  .navbar-item {
    font-size: 20px;
    flex-basis: 15%;
    list-style-type: none;
    text-align: center;
    color: var(--offWhite);
  }

  .navbar-link {

    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    color: var(--primary);
  }
  .navbar-item:hover {
    color: var(--secondary);
    background-color: gray;
  }